@media screen and (max-height: 850px) and (max-width: 600px) {
    .title {
        font-size: 210%;
    }

    .title-2 {
        font-size: 180%;
    }

    .card-container {
        top: -100px;
    }

    .rotate {
        margin-top: 5%;
    }

    .apps-details {
        margin-left: 10%;
    }

    .first,
    .second,
    .more-details p,
    .app-details-text h4,
    .app-details-text small,
    .icon,
    .apps-details h4 {
        font-size: 80%;
    }

    .teste {
        width: 50px;
        height: 50px;
    }

    .header-2 {
        height: 220px;
    }

    .card:nth-child(1) {
        order: 3;
    }

    .benefits-title {
        font-size: 50%;
        margin: 4vh 0;
    }

    .benefits-header h3 {
        font-size: 70%;
        margin: 0 2vh;
    }
    .client-feedback-container {
        flex-direction: column;
        padding: 2vh;
    }

    .client-feedback-card {
        min-width: 100%;
    }

    .client-feedback-message {
        gap: 1vh;
    }
    .benefits-title h1 {
        font-size: 140%;
    }
}

@media screen and (max-width: 900px) and (min-height: 850px) {
    .title {
        font-size: 260%;
    }

    .title-2 {
        font-size: 180%;
    }

    .card-speed {
        margin-top: 3vh;
    }

    .rotate {
        margin-top: 5%;
    }

    .card-container {
        top: -18vh;
    }

    .line {
        width: 88%;
    }

    .card:nth-child(1) {
        order: 3;
    }
    .card-details {
        font-size: 80%;
        text-align: center;
    }

    .benefits-title {
        font-size: 65%;
        margin-top: 10%;
    }
    .client-feedback-container {
        flex-direction: column;
        padding: 2vh;
    }

    .client-feedback-card {
        min-width: 100%;
    }

    .client-feedback-message {
        gap: 1vh;
    }
}

@media screen and (min-width: 900px) and (min-height: 720px) and (max-width: 1450px) {
    .title:nth-child(1) {
        margin-top: 1vh;
    }

    .title {
        font-size: 320%;
    }

    .card-speed {
        margin-top: 4vh;
    }

    .teste {
        width: 55px;
        height: 55px;
    }

    .card-container {
        margin-top: 6%;
        top: -200px;
    }
    .client-feedback-container {
        flex-direction: column;
    }

    .client-feedback-card {
        min-width: 60%;
    }
}

@media only screen and (max-width: 950px) and (max-height: 500px) {
    .title,
    .title-2,
    .card-title,
    .card-button,
    .card-price h2,
    .more-details {
        font-size: 130%;
    }

    .header-1 {
        height: 80px;
    }

    .city {
        font-size: 100%;
    }

    .teste {
        width: 40px;
        height: 40px;
    }

    .first,
    .second,
    .more-details p,
    .app-details-text h4,
    .app-details-text small,
    .icon,
    .apps-details h4,
    .benefits-title,
    .benefits-header h3 {
        font-size: 65%;
    }

    .card-advantages p,
    .card-advantages h4 {
        font-size: 100%;
    }

    .card-benefits h4 {
        font-size: 80%;
    }

    .line {
        width: 50px;
    }

    .header-1 img {
        height: 40px;
    }

    .header-2 {
        height: 130px;
    }

    .card-speed {
        font-size: 1.7rem;
    }
    .lines::before {
        left: 30px;
    }

    .lines::after {
        right: 30px;
    }

    .line {
        width: 90%;
    }

    .card-details {
        font-size: 80%;
        text-align: center;
    }

    .bestOffer {
        font-size: 60%;
    }
    .card-button {
        margin: 1vh;
        font-size: 60%;
    }
    .card:nth-child(3) {
        order: 2;
    }

    .benefits-title {
        margin-top: 4vh;
    }
    .client-feedback-container {
        flex-direction: column;
        align-items: center;
        padding: 2vh;
    }

    .client-feedback-card {
        min-width: 80%;
    }
}
