@media screen and (max-height: 850px) and (max-width: 400px) {
    .title {
        font-size: 210%;
    }

    .title-2 {
        font-size: 180%;
    }

    .card-container {
        top: -13.5vh;
    }

    .apps-details {
        margin-left: 10%;
    }

    .first,
    .second,
    .more-details p,
    .app-details-text h4,
    .app-details-text small,
    .icon,
    .apps-details h4 {
        font-size: 80%;
    }

    .teste {
        width: 50px;
        height: 50px;
    }

    .header-2 {
        height: 220px;
    }

    .card:nth-child(1) {
        order: 3;
    }
}

@media screen and (max-width: 900px) and (min-height: 900px) {
    .title {
        font-size: 240%;
    }

    .title-2 {
        font-size: 180%;
    }
    .card-speed {
        margin-top: 3vh;
    }
    .card-container {
        top: -18vh;
    }

    .line {
        width: 88%;
    }

    .card:nth-child(1) {
        order: 3;
    }
    .card-details {
        font-size: 80%;
        text-align: center;
    }
}

@media screen and (min-width: 900px) and (min-height: 720px) and (max-width: 1450px) {
    .title:nth-child(1) {
        margin-top: 1vh;
    }
    .card-speed {
        margin-top: 4vh;
    }

    .teste {
        width: 55px;
        height: 55px;
    }
    .card-container {
        margin-top: 6%;
        top: -200px;
    }
}

@media only screen and (max-width: 950px) and (max-height: 500px) {
    .title,
    .title-2,
    .card-title,
    .card-button,
    .card-price h2,
    .more-details {
        font-size: 135%;
    }

    .header-1 {
        height: 80px;
    }

    .city {
        font-size: 100%;
    }

    .teste {
        width: 40px;
        height: 40px;
    }

    .first,
    .second {
        font-size: 70%;
    }

    .line {
        width: 50px;
    }

    .header-1 img {
        height: 40px;
    }

    .header-2 {
        height: 130px;
    }

    .card-speed {
        font-size: 1.7rem;
    }
    .lines::before {
        left: 30px;
    }

    .lines::after {
        right: 30px;
    }

    .line {
        width: 100%;
    }

    .card-details {
        font-size: 80%;
        text-align: center;
    }

    .bestOffer {
        font-size: 60%;
    }
    .card-button {
        margin: 1vh;
        font-size: 60%;
    }
    .card:nth-child(3) {
        order: 2;
    }
}
