@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

@font-face {
    font-family: "Rubik";
    src: url("./assets/RubikOne-Regular.ttf") format("truetype");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "League Spartan";
}

.header-1 img {
    height: 7.5vh;
    width: auto;
}

.header-1 {
    height: 18vh;
    background-color: royalblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    margin-top: 2.5vh;
}

.city {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-bottom: 2vh;
    text-align: center;
}

.header-2 {
    height: 35vh;
    background-color: rgb(54, 87, 185);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 3vh;
}

.rotate {
    rotate: -0.7deg;
}

.main {
    position: relative;
}

.title {
    color: white;
    margin: -5px;
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
    text-shadow: -5px 1px 5px rgba(32, 27, 27, 0.25);
    font-family: "Rubik";
}

.title-2 {
    color: rgb(43, 205, 255);
    font-size: 2.3em;
    font-weight: 600;
    text-shadow: -5px 1px 5px rgba(32, 27, 27, 0.2);
}

.speed-effect {
    text-shadow: -2px 0px 2px rgba(220, 220, 220, 0.1),
        -4px 0px 2px rgba(220, 220, 220, 0.22),
        -6px 0px 2px rgba(220, 220, 220, 0.21),
        -8px 0px 2px rgba(220, 220, 220, 0.2),
        -10px 0px 2px rgba(220, 220, 220, 0.19),
        -12px 0px 2px rgba(220, 220, 220, 0.18),
        -14px 0px 2px rgba(220, 220, 220, 0.17),
        -16px 0px 2px rgba(220, 220, 220, 0.15),
        -18px 0px 2px rgba(220, 220, 220, 0.14),
        -20px 0px 2px rgba(220, 220, 220, 0.13),
        -22px 0px 2px rgba(220, 220, 220, 0.12),
        -24px 0px 2px rgba(220, 220, 220, 0.11),
        -26px 0px 2px rgba(220, 220, 220, 0.1),
        -28px 0px 2px rgba(220, 220, 220, 0.09),
        -30px 0px 2px rgba(220, 220, 220, 0.08),
        -32px 0px 2px rgba(220, 220, 220, 0.07),
        -34px 0px 2px rgba(220, 220, 220, 0.06),
        -36px 0px 2px rgba(220, 220, 220, 0.03),
        -48px 0px 2px rgba(220, 220, 220, 0.02),
        -42px 0px 2px rgba(220, 220, 220, 0.02),
        -44px 0px 2px rgba(220, 220, 220, 0.01),
        -46px 0px 2px rgba(220, 220, 220, 0.01),
        -48px 0px 2px rgba(220, 220, 220, 0.01),
        -50px 0px 2px rgba(220, 220, 220, 0.01);
}

.card-container {
    position: relative;
    top: -15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    margin: 4vh;
    background-color: white;
    min-height: 50%;
    width: 49vh;
    position: relative;
    border-radius: 10px;
    border: none;
    box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.1);
}

.bestOffer {
    position: absolute;
    left: 50%;
    width: 100%;
    height: 10%;
    text-align: center;
    top: -5%;
    transform: translateX(-50%);
    padding: 3% 5%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: none;
    background-color: #f8d313;
    color: white;
    font-weight: bold;
    font-size: 100%;
}

.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vh;
    margin: 0.5vh;
    color: #706969;
}

.card-speed {
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
    margin-top: 7%;
}

.card-apps {
    margin: 2vh 0;
}

.apps-img-container {
    display: flex;
    width: 100%;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.appLogo {
    width: 45%;
    height: auto;
}

.card-benefits {
    text-align: center;
}

.card-price {
    text-align: center;
    color: #706969;
    font-weight: bold;
    font-size: 1.75rem;
}

.card-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3vh;
}

.btn {
    box-shadow: 2px 2px 10px -1px #302f2e;
    background-color: #f9990a;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    padding: 3% 25%;
    text-decoration: none;
    text-shadow: 0px 1px 0px #f9990a;
    margin-bottom: 2vh;
}

.btn:hover {
    background-color: #d68409;
    box-shadow: 2px 2px 10px -1px #d68409;
    text-shadow: 0px 1px 0px #d68409;
    cursor: pointer;
}

.btn:active {
    position: relative;
    top: 1px;
}

.more-details p {
    text-align: center;
    margin-top: 3vh;
    text-decoration: underline;
    font-size: 1rem;
}

.more-details:hover {
    cursor: pointer;
}

.card-details {
    display: none;
}

.speed-details {
    margin-top: 1.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #706969;
}

.speed-details i {
    font-size: 25px;
}

.downloadUpload {
    margin-left: 1.5vh;
}

.downloadUpload h4 {
    margin-bottom: 0.5vh;
    font-size: 0.9rem;
}

.downloadUpload h5 {
    font-size: 0.8rem;
}

.apps-details {
    margin-top: 1.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #706969;
}

.apps-details i {
    font-size: 25px;
}

.listApps {
    margin-left: 1.5vh;
}

.listApps h4 {
    margin-bottom: 0.5vh;
    font-size: 1rem;
}

.listApps a {
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: inherit;
    text-align: center;
}

.seeMore {
    color: royalblue;
}

.seeMore:hover {
    cursor: pointer;
}

.wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 900px) and (min-height: 500px) {
    .title {
        font-size: 240%;
    }
    .title-2 {
        font-size: 180%;
    }
    .card-speed {
        margin-top: 3vh;
        font-size: 250%;
    }
    .card-container {
        top: -22vh;
        padding: 2vh;
    }

    .card:nth-child(1) {
        order: 3;
    }

    .card:nth-child(3) {
        order: 1;
    }
}

@media screen and (max-height: 750px) {
    .card-container {
        top: -18vh;
    }
    .card-price {
        font-size: 150%;
    }
}

@media screen and (min-width: 900px) and (min-height: 720px) and (max-width: 1366px) {
    .title:nth-child(1) {
        margin-top: 1vh;
    }
    .card-speed {
        margin-top: 4vh;
    }
    .card-container {
        margin-top: 6%;
        top: -130px;
    }
}

@media only screen and (max-width: 950px) and (max-height: 500px) {
    .title,
    .title-2,
    .city,
    .card-title,
    .card-button {
        font-size: 135%;
    }

    .card-price {
        font-size: 90%;
    }

    .card-speed {
        font-size: 1.7rem;
    }

    .bestOffer {
        font-size: 0.8rem;
    }
    .card-button {
        margin: 1vh;
        font-size: 60%;
    }
    .card:nth-child(3) {
        order: 2;
    }

    .card:nth-child(3) {
        order: 2;
    }

    .card:nth-child(3) {
        order: 1;
    }
}
