@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

@font-face {
    font-family: "Rubik";
    src: url("./assets/RubikOne-Regular.ttf") format("truetype");
}

body {
    -webkit-text-size-adjust: none;
    background: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "League Spartan";
}

/* HEADER (LOGO, TITLE, TITLE 2) */

.header-1 img {
    height: 50px;
    width: auto;
    margin-top: 2.5vh;
}

.header-1 {
    height: 120px;
    background: linear-gradient(to left, #2a53e5, #072387);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.city {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 2vh;
    text-align: center;
}

.header-2 {
    height: 300px;
    background: #002dab;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-top: 6px solid lightblue;
    text-align: center;
    padding-top: 1%;
}

.rotate {
    rotate: -1.5deg;
}

.title {
    color: white;
    margin: -5px;
    width: 99vw;
    text-align: center;
    font-size: 400%;
    font-weight: 500;
    text-shadow: -5px 1px 5px rgba(32, 27, 27, 0.6);
    font-family: "Rubik";
}

.title-2 {
    color: rgb(43, 205, 255);
    font-size: 35px;
    font-weight: 600;
    text-shadow: -5px 1px 5px rgba(32, 27, 27, 0.6);
}

.speed-effect {
    text-shadow: -2px 0px 2px rgba(220, 220, 220, 0.22),
        -4px 0px 2px rgba(220, 220, 220, 0.215),
        -6px 0px 2px rgba(220, 220, 220, 0.21),
        -8px 0px 2px rgba(220, 220, 220, 0.2),
        -10px 0px 2px rgba(220, 220, 220, 0.19),
        -12px 0px 2px rgba(220, 220, 220, 0.18),
        -14px 0px 2px rgba(220, 220, 220, 0.17),
        -16px 0px 2px rgba(220, 220, 220, 0.15),
        -18px 0px 2px rgba(220, 220, 220, 0.14),
        -20px 0px 2px rgba(220, 220, 220, 0.13),
        -22px 0px 2px rgba(220, 220, 220, 0.12),
        -24px 0px 2px rgba(220, 220, 220, 0.11),
        -26px 0px 2px rgba(220, 220, 220, 0.09),
        -28px 0px 2px rgba(220, 220, 220, 0.07),
        -30px 0px 2px rgba(220, 220, 220, 0.06),
        -32px 0px 2px rgba(220, 220, 220, 0.05),
        -34px 0px 2px rgba(220, 220, 220, 0.04),
        -36px 0px 2px rgba(220, 220, 220, 0.03),
        -38px 0px 2px rgba(220, 220, 220, 0.025),
        -40px 0px 2px rgba(220, 220, 220, 0.02),
        -42px 0px 2px rgba(220, 220, 220, 0.019),
        -44px 0px 2px rgba(220, 220, 220, 0.018),
        -46px 0px 2px rgba(220, 220, 220, 0.017),
        -48px 0px 2px rgba(220, 220, 220, 0.016),
        -50px 0px 2px rgba(220, 220, 220, 0.015),
        -52px 0px 2px rgba(220, 220, 220, 0.014),
        -54px 0px 2px rgba(220, 220, 220, 0.013),
        -56px 0px 2px rgba(220, 220, 220, 0.012),
        -58px 0px 2px rgba(220, 220, 220, 0.011),
        -60px 0px 2px rgba(220, 220, 220, 0.01),
        -62px 0px 2px rgba(220, 220, 220, 0.01),
        -64px 0px 2px rgba(220, 220, 220, 0.01),
        -66px 0px 2px rgba(220, 220, 220, 0.01),
        -68px 0px 2px rgba(220, 220, 220, 0.01),
        -70px 0px 2px rgba(220, 220, 220, 0.01);
}

/* MAIN BODY */
.main {
    position: relative;
}

/* CARD RELATIVES */
.card-container {
    position: relative;
    top: -11vh;
    display: flex;
    margin-bottom: -50px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
}

.line {
    width: 70%;
    height: 2px;
    margin-bottom: 2vh;
    background-color: #dfd7d7;
}

.lines {
    position: relative;
    font-size: 150%;
    color: #dfd7d7;
}

.lines::before {
    content: "";
    display: block;
    width: 13vh;
    height: 2px;
    position: absolute;
    background: #dfd7d7;
    left: 4vh;
    top: 45%;
}

.lines::after {
    content: "";
    display: block;
    width: 13vh;
    height: 2px;
    position: absolute;
    background: #dfd7d7;
    right: 4vh;
    top: 45%;
}

.card {
    margin: 4vh;
    background-color: white;
    width: 42vh;
    border-radius: 10px;
    position: relative;
    box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.3);
}

.bestOffer {
    position: absolute;
    width: 100%;
    height: 4vh;
    top: -2vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #f8d313;
    color: white;
    font-weight: bold;
    font-size: 100%;
}

.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1vh;
    color: #706969;
}

.card-speed {
    font-weight: 900;
    font-size: 3.2rem;
    text-align: center;
    margin-top: 10%;
}

.apps-img-container {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px;
    margin: 2vh 0;
    justify-content: space-evenly;
}

.appLogoContainer {
    width: 70px;
    height: 70px;
    background: radial-gradient(circle, #4169e1, #3d3c3a);
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.appLogo {
    width: 95%;
    height: auto;
    padding: 5px;
}

.card-benefits {
    text-align: center;
    margin-top: 1vh;
}

.card-advantages {
    color: white;
    width: 275px;
    min-height: 150px;
    padding: 1.5vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-advantages h4 {
    font-size: 1.3rem;
    margin-bottom: 1vh;
    font-weight: bold;
}

.card-advantages p {
    font-size: 1.2rem;
}

.card-price {
    text-align: center;
    display: flex;
    color: #5f5959;
    align-items: center;
    justify-content: center;
}

.card-price h2 {
    font-size: 60px;
    margin-left: 1vh;
    margin-right: 0.5vh;
}

.first {
    font-size: 120%;
    text-align: right;
}

.second {
    font-size: 120%;
    text-align: left;
}

.card-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3vh;
}

.btn {
    background-color: #f9990a;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    padding: 3.5% 25%;
    text-decoration: none;
    text-shadow: 0px 1px 0px #f9990a;
    margin-bottom: 2vh;
}

.btn:hover {
    background-color: #d68409;
    text-shadow: 0px 1px 0px #d68409;
    cursor: pointer;
}

.btn:active {
    position: relative;
    top: 1px;
}

.more-details p {
    text-align: center;
    margin: 2vh 0;
    color: #706969;
    text-decoration: underline;
    font-size: 1rem;
}

.more-details:hover {
    cursor: pointer;
}

.card-details {
    display: none;
    padding: 2vh;
}

.apps-details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;
    color: #706969;
}

.apps-details h4,
.apps-details small {
    margin-left: 1vh;
}

.icon {
    font-size: 125%;
}

small {
    margin-top: 0.5vh;
}

/* Benefits Section */
.benefits {
    min-height: 30vh;
    background: linear-gradient(to bottom, #2a53e5, #021044);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2vh;
    padding: 2vh;
}

.switch > .hidden-toggle {
    display: none;
}

.switch > .slider {
    background: #e0e2db;
    top: -1vh;
    border-radius: 2rem;
    transition: all 300ms ease-in-out;
    width: 8rem;
    height: 4rem;
    position: relative;
    box-shadow: inset -0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2),
        0 0 1rem rgba(0, 0, 0, 0.1);
}

.switch > .slider > .button {
    content: "";
    position: absolute;
    width: 3.2rem;
    height: 3.2rem;
    background: #4615b2;
    top: 0.4rem;
    left: 0.4rem;
    transition: all 300ms ease-in-out;
    border-radius: 50%;
    z-index: 2;
    box-shadow: inset -0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

.switch > .slider:after {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 1.5rem;
    color: #444;
    font-weight: bold;
    z-index: 1;
    font-weight: 900;
}

.switch > .hidden-toggle:checked ~ .slider {
    background: rgb(241, 78, 50);
    box-shadow: inset 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2),
        0 0 1rem rgba(50, 0, 150, 0.2);
}

.switch > .hidden-toggle:checked ~ .slider > .button {
    left: 4.4rem;
    box-shadow: inset 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    background: #e0e2db;
}

.switch > .hidden-toggle:checked ~ .slider:after {
    right: 4.4rem;
    color: #f1f1ff;
    content: "OFF";
}

.benefits-header {
    margin-top: 2vh;
    text-align: center;
    color: white;
    font-size: 200%;
}

.benefits-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

.benefits-header h1 {
    font-weight: 900;
    font-size: 2.5rem;
}

.benefits-header h3 {
    font-weight: 400;
}

.advantages {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vh;
    margin: 3vh;
}

.img-benefits {
    width: 85px;
    height: 85px;
    margin-bottom: 2vh;
    color: white;
}

.client-feedback {
    min-height: 300px;
    display: flex;
    color: #706969;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.client-feedback-title {
    margin: 2vh;
    display: flex;
    text-align: center;
}

.client-feedback-container {
    display: flex;
    margin: 3vh 2vh;
    justify-content: center;
    gap: 25vh;
    align-items: flex-start;
    margin-top: 2%;
}

.client-feedback-card {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 30%;
}

.client-feedback-message {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
    margin-left: 2vh;
    font-size: 1.2rem;
}

.client-feedback .client-feedback-card .client-photo img {
    width: 100px;
    height: auto;
    border-radius: 50%;
}

.client-feedback-message p {
    font-weight: 300;
    font-size: 1.5rem;
    margin-bottom: 1vh;
}

.yellow {
    color: yellow;
}

.client-name {
    font-weight: bold;
}

footer {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vh;
    padding: 2vh;
    background-color: #002dab;
}

.social-media {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-bottom: 0.5vh;
}

.terms {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5vh;
}

.terms a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.terms a:hover,
.social-media i:hover {
    color: #d68409;
    cursor: pointer;
}
